@import "./navigation";

header {
  background-image: url("./assets/images/background/header_start_img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
}

.login {
  &__loginBtn {
  }
}

.functions {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.function {
  width: 200px;
  height: 100px;
  padding: 20px;
  font-size: 1em;
  border: solid black 2px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
